* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

p {
  margin-bottom: 20px;
}

h1 {
  font-family: "Oleo Script", cursive;
  font-size: 4rem;
}

#social-container {
  width: 125px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

svg {
  width: 50px;
  height: 50px;
}

svg:hover {
  fill: rgb(57, 143, 255) !important;
}

#container {
  width: 100%;
  text-align: center;
  margin-top: 50vh;
}
