* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

p {
  margin-bottom: 20px;
}

h1 {
  font-family: "Oleo Script", cursive;
  font-size: 4rem;
  cursor: pointer;
}

#social-container {
  width: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

svg {
  width: 35px;
  height: 35px;
}

svg:hover {
  fill: rgb(57, 143, 255) !important;
}

#titleContainer {
  width: 100%;
  text-align: center;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
